.payment-container {
  display: flex;
  justify-content: space-between;
  width: 800px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.payment-form {
  width: 60%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #969595;
}

.timer {
  display: flex;
  gap: 4px;
  background: black;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: bold;
}

.form {
  margin-top: 20px;
}

.input-group1 {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  font-weight: 800;
  color: #333;
  display: block;
}

.sub-text {
  font-size: 12px;
  color: #969595;
  margin-bottom: 5px;
}
.input-box1 {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e6e5e5
}
.input-box1 input {
  border: none;
  background: transparent;
  flex: 1;
  font-size: 15px;
  color: #aaa6a6;
}

.cvv-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.cvv-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cvv-label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.cvv-subtext {
  font-size: 12px;
  color: #777;
}

.cvv-input-box {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  min-width: 200px;
  justify-content: space-between;
  border: 1px solid #e6e5e5
}

.cvv-input {
  border: none;
  background: transparent;
  font-size: 16px;
  text-align: center;
  width: 30px;
}

.cvv-icon {
  color: #777;
}

.input-box {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e6e5e5
}

.input-box input {
  border: none;
  background: transparent;
  flex: 1;
  font-size: 15px;
  color: #aaa6a6;
}

.icon {
  color: #ff6f00;
  font-size: 18px;
  margin-right: 10px;
}

.edit-icon {
  color: #007bff;
  cursor: pointer;
}

.expiry-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.expiry-box input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: none;
  background: #f7f7f7;
  padding: 8px;
  border-radius: 5px;
}

.pay-button {
  width: 100%;
  background: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}


.card-summary {
  width: 35%;
  background: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.cardholder {
  font-size: 14px;
  font-weight: bold;
}

.card-number {
  font-size: 18px;
  font-weight: bold;
}

.expiry {
  font-size: 14px;
  color: #777;
}

.mastercard-icon {
  font-size: 24px;
  color: #ff6f00;
}

.summary {
  text-align: left;
  margin-top: 10px;
}

.summary p {
  margin: 5px 0;
}

.total {
  margin-top: 10px;
}
